/*.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background
  color: white; // Text color
  padding: 20px;
}*/ 


